* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #1d1d1d;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  scrollbar-width: thin;
  scrollbar-color: #630eab #1d1d1d;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #1d1d1d;
}

body::-webkit-scrollbar-thumb {
  background-color: #630eab;
}

ul {
  margin: 0;
  text-decoration: none;
  padding: 0;
  list-style-type: none;
}

.header {
  background-color: #630eab;
  border-radius: 50px;
  padding: 5px;
  margin: 0 10px;
  margin-top: 10px;
}
.header .header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-navbar .navbar {
  font-size: 16px;
  gap: 25px;
  font-weight: 700;
}
.header .header-navbar .navbar .nav a {
  color: #f5f5f5;
}
.header .header-navbar .btn-sing {
  font-size: 16px;
}
.header .header-navbar .sing-in {
  color: #1d1d1d;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #f5f5f5;
}
.header .header-navbar .sing-up {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  margin-left: 10px;
}
.header .header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-family: "Oswald", sans-serif;
  color: #f5f5f5;
  display: flex;
  align-items: center;
}
.header .logo .logo-text {
  font-size: 25px;
  margin-left: 5px;
}

section {
  padding: 0;
  background-color: #252525;
  border-radius: 20px;
  position: relative;
  margin-top: 80px;
}
section h2 {
  position: absolute;
  color: #c0c0c0;
  font-size: 20px;
  top: -25px;
  left: 20px;
}

.statistics {
  padding: 50px;
}
.statistics .stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.statistics .stats .round {
  position: relative;
}
.statistics .stats .round .number-name {
  color: #f5f5f5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.statistics .stats .round .number-name p {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
}
.statistics .stats .round .number-name h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
}
.statistics .stats svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(-90deg);
}
.statistics .stats svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.statistics .stats svg circle:nth-child(2) {
  stroke-dasharray: 440;
}
.statistics .stats svg .color-all {
  stroke-dashoffset: 220;
  stroke: #9d07d1;
}
.statistics .stats svg .color-habit {
  stroke: #9afa05;
  stroke-dashoffset: 88;
}
.statistics .stats svg .color-task {
  stroke: #fdeb0c;
  stroke-dashoffset: 176;
}

.add {
  display: flex;
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  padding: 8px;
  background-color: #9d07d1;
}
.add .icon-add {
  font-size: 30px;
  color: #f5f5f5;
}

.todo-add {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: rgba(19, 19, 19, 0.5058823529);
  width: 100%;
  height: 100%;
  top: 0;
}
.todo-add .input {
  padding: 50px;
  background: #1d1d1d;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 450px;
}
.todo-add .input .close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px;
}
.todo-add .input .close ion-icon {
  font-size: 20px;
  color: #c5c5c5;
}
.todo-add .input .title-p {
  color: #c5c5c5;
  font-size: 14px;
  margin-bottom: -1px;
  margin-left: 12px;
}
.todo-add .input input {
  background-color: #252525;
  border: none;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 20px;
}
.todo-add .input .input-btn {
  background-color: #9d07d1;
  color: #f5f5f5;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 16px;
  width: 100px;
  margin-top: 10px;
}
.todo-add .input .input-text {
  color: #f5f5f5;
  width: 100%;
}
.todo-add .input .input-tag {
  color: #9afa05;
  width: 100%;
}
.todo-add .input .date {
  color: #f5f5f5;
  width: 100%;
}
.todo-add .input .date::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 100%;
  opacity: 0;
}

input:focus-visible {
  outline: none;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 150px;
  padding: 0;
}
.list .todo-list {
  border-radius: 20px;
  background-color: #252525;
  color: #f5f5f5;
  font-size: 22px;
  padding: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  min-width: 300px;
}
.list .todo-list .tag-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.list .todo-list .tag-date .dates {
  font-size: 14px;
}
.list .todo-list h2 {
  text-align: center;
}
.list .todo-list .list-btn {
  font-size: 16px;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #ed3d39;
  color: #f5f5f5;
  font-weight: 700;
  padding: 5px;
}
.list .todo-list .tag {
  color: #9afa05;
  background-color: rgba(152, 250, 5, 0.3019607843);
  padding: 2px 5px;
  font-size: 12px;
  display: block;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .list {
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }
}
@media (max-width: 700px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    gap: 10px;
  }
  .header {
    bottom: 0;
    top: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .header .logo-text {
    display: none;
  }
  .header .logo {
    margin: 5px 0;
  }
  .header .logo img {
    width: 40px;
  }
  .add {
    right: auto;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  .todo-add {
    padding: 20px;
  }
  .todo-add .input {
    padding: 20px;
    width: 300px;
  }
}/*# sourceMappingURL=main.css.map */